<div style="{{'height:'+sidebarService.tabContentHeight+'px;overflow-y:auto;overflow-x:hidden;'}}"
     ng-controller="SettingsController">
    <div class="btn-group" style="width: 100%; margin: 1px;" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" style="width: 100%;" dropdown-toggle>
            History Tracking [{{settings.historySync||'Off'}}] <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="settings.historySync = false">Off</a></li>
            <li><a href="#" ng-click="settings.historySync = 'Local'">Save locally</a></li>
            <li><a href="#" ng-click="settings.historySync = 'Sync'">Save with Chrome Sync</a></li>
        </ul>
    </div>
    <div class="btn-group" style="width: 100%; margin: 1px;" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" style="width: 100%;" dropdown-toggle>
            Bookmark Storage [{{settings.bookmarkSync?'Sync':'Local'}}] <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="settings.bookmarkSync = false">Save locally</a></li>
            <li><a href="#" ng-click="settings.bookmarkSync = true">Save with Chrome Sync</a></li>
        </ul>
    </div>
    <div style="margin: 1px;">
        <div class="form-group">
            <label for="use-tvapi" class="control-label">
                <input id="use-tvapi"
                       type="checkbox"
                       class="checkbox checkbox-inline"
                       ng-model="settings.useTvApi"/> Retrieve episode date information
            </label>
        </div>
        <div class="form-group" ng-show="settings.useTvApi">
            <label for="api-key" class="control-label">
                TheMovieDB API Key
                <span class="glyphicon glyphicon-question-sign btn" ng-click="infoToggle = !infoToggle"></span>
            </label>
            <alert type="info" ng-show="infoToggle">
                <p>
                    This will allow you to see the next,<br/>
                    or last date an episode for your bookmarked TV<br/>
                    show is due to air.
                </p>

                <p>
                    You can get a FREE key from <a href="http://www.themoviedb.org">The Movie DB</a><br/>
                    by signing up, and following the roadsigns<br/>
                    to generate an API key, or read the FAQ <a href="https://www.themoviedb.org/faq/api">here</a>.
                </p>

                <p>
                    Without this key, it is not possible to provide you<br/>
                    with any episode date information. You may also use<br/>
                    your friend's API key if they've gotten one.
                </p>
            </alert>
            <input id="api-key"
                   type="text"
                   class="input-sm form-control"
                   ng-model="settings.tvApiKey"
                   placeholder="Enter key here">
        </div>
    </div>
    <div>
        <alert type="danger">Experimental Settings Below!</alert>
        <accordion close-others="oneAtATime">
            <accordion-group heading="MyJson Sync Storage">
                <p>This experimental storage engine, powered by <a href="http://myjson.com/about">Myjson</a>, will allow
                    users to bypass the storage limits
                    set by Chrome's built-in sync storage. This is useful if you have lots of bookmarks, and/or
                    history, but Chrome fails to save them in sync storage because you're using <a
                            href="https://developer.chrome.com/extensions/storage#property-sync">more than the
                        limit.</a></p>

                <p>There's nothing that can be done to 100% circumvent this inside the extension, so an outside storage
                    engine is the only option (or, use Chrome local storage, but be unable to sync information between
                    devices).</p>

                <p>This implementation is still considered experimental, and enabling it could potentially result in the
                    loss / corruption of your bookmarks, history and settings.</p>

                <p>Enable this only if you understand this, and are unwilling to simply delete extra bookmarks or
                    history in order to free up Chrome sync space.</p>

                <p>At this time, enabling this will ignore your storage settings above. This means that both bookmarks
                    AND history
                    will be synced using Myjson</p>
                <label for="use-myjson" class="control-label">
                    <input id="use-myjson"
                           type="checkbox"
                           class="checkbox checkbox-inline"
                           ng-model="settings.useMyJson" tooltip="asdsad"/> Use MyJson Sync Storage Engine
                </label>

                <div ng-show="settings.useMyJson">
                    Bookmarks: <a href="{{getMyjsonBookmarksUri()}}?pretty">{{getMyjsonBookmarksUri()}}</a><br/>
                    History: <a href="{{getMyjsonHistoryUri()}}?pretty">{{getMyjsonHistoryUri()}}</a><br/>
                </div>
            </accordion-group>
        </accordion>
    </div>

    <br ng-show="haveSettingsChanged"/>

    <div ng-show="haveSettingsChanged" class="alert alert-success">
        Settings updated.<br/>
        Please refresh the window when you're done in here.
    </div>


    <!--<textarea>{{settingsService.getDataObject()}}</textarea>

    <div>
        <button class="btn btn-sm btn-primary">Export all data</button>
    </div>
    <div>
        <button class="btn btn-sm btn-primary">Import saved data</button>
    </div>
    <div>
        <button class="btn btn-sm btn-danger">Clear all data</button>
    </div>-->
</div>