<style>
    .ctrl {
        background-color: #7e7e7e;
        font-weight: bold;
        color: #000;
        border: 1px solid #7e7e7e;
    }
    .ctrl:hover{
        background-color: #000;
        color: #7e7e7e;
        border: 1px solid white;
    }
</style>
<div ng-controller="BookmarkController">
    <div ng-controller="BookmarkItemController"
         ng-repeat="bookmark in bookmarks track by bookmark.url"
         ng-click="go(bookmark.url)"
         ng-init="onInitialize()"
         style="cursor: pointer; margin: 1px;">
        <!--<div class="input-group-btn">
            <button class="btn btn-sm btn-danger"
                    ng-click="onBookmarkRemove($event, bookmark)">
                -
            </button>
            <div class="form-control">
                {{bookmark.name}}
            </div>
        </div>-->
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-sm btn-danger"
                        ng-click="onBookmarkRemove($event, bookmark)">
                    -
                </button>
            </span>

            <div class="form-control input-sm ctrl">
                {{bookmark.name}}
            </div>
        </div>
        <div>
            {{dateCompare < 0 ? 'Last' :'Next'}} Episode:
            <span class="text-{{(bannerString === null) ? 'warning' : ((dateCompare < 0) ? 'danger' :'success')}}">
            {{(bannerString === null) ? 'Disabled in settings' : bannerString | date}}
        </span>
        </div>
    </div>

</div>