<div ng-controller="BookmarkController">
    <div ng-click="go(item.url)"
         ng-repeat="item in bookmarks track by item.url"
         class="btn-default"
         style="cursor: pointer; margin: 1px;">
        <div class="btn-group">
            <button class="btn btn-sm btn-danger"
                    ng-click="onBookmarkRemove($event, item)">
                -
            </button>
            <div class="simplenavstuff">
                {{item.name}}
            </div>
        </div>

        <div>
            {{item.dateCompare < 0 ? 'Last' :'Next'}}: <span class="text-{{item.dateCompare < 0 ? 'danger' :'success'}}">{{item.bannerString | date}}</span>
        </div>
    </div>
</div>