<div ng-controller="HistoryController">
    <div ng-show="settings.historySync === false" class="alert alert-danger">
        History tracking is not enabled. You can turn it on from the settings tab.
    </div>
    <div ng-repeat="item in history track by item.time"
         class="btn-default"
         ng-click="go(item.url)"
         style="cursor: pointer; margin: 1px;">
        <div class="btn-group">
            <button class="btn btn-sm btn-danger"
                    ng-click="removeHistoryItem($event, item)">
                -
            </button>

            <div class="simplenavstuff">{{item.time | date:'mediumDate'}} -
                {{getNiceName(item.name)}}
            </div>

        </div>
    </div>
</div>