<div class="btn-group">
    <div>Track "watch" history using:</div>
    <label class="btn btn-sm btn-danger" ng-model="optionHistory" btn-radio="'Never'" uncheckable>No Tracking</label>
    <label class="btn btn-sm btn-primary" ng-model="optionHistory" btn-radio="'Locally'" uncheckable>Save Local</label>
    <label class="btn btn-sm btn-success" ng-model="optionHistory" btn-radio="'Sync'" uncheckable>Google Sync</label>
</div><br/>
<div class="btn-group">
    <div>Save bookmarks using:</div>
    <label class="btn btn-sm btn-primary" ng-model="optionBookmarks" btn-radio="'Locally'" uncheckable>Save Local</label>
    <label class="btn btn-sm btn-success" ng-model="optionBookmarks" btn-radio="'Sync'" uncheckable>Google Sync</label>
</div>
<div>
    <button class="btn btn-sm btn-primary">Export all data</button>
</div>
<div>
    <button class="btn btn-sm btn-primary">Import saved data</button>
</div>
<div>
    <button class="btn btn-sm btn-danger">Clear all data</button>
</div>