<div ng-controller="SettingsController">
    <div class="btn-default" style="margin-bottom: 1px;">
        <div dropdown class="btn-group-vertical">
            <div type="button" class="btn-sm dropdown-toggle" ng-disabled="disabled">
                <span class="caret"></span> History Tracking => ({{settings.historySync||'Off'}})
            </div>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-click="settings.historySync = false">Off</a></li>
                <li><a href="#" ng-click="settings.historySync = 'Local'">Save locally</a></li>
                <li><a href="#" ng-click="settings.historySync = 'Sync'">Save with Chrome Sync</a></li>
            </ul>
        </div>
    </div>
    <div class="btn-default" style="margin-bottom: 1px;">
        <div dropdown class="btn-group-vertical">
            <div type="button" class="btn-sm dropdown-toggle" ng-disabled="disabled">
                <span class="caret"></span> Bookmark Storage => ({{settings.bookmarkSync?'Sync':'Local'}})
            </div>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-click="settings.bookmarkSync = false">Save locally</a></li>
                <li><a href="#" ng-click="settings.bookmarkSync = true">Save with Chrome Sync</a></li>
            </ul>
        </div>
    </div>
    <div style="margin: 1px;">
        <div class="form-group">
            <label for="use-animations" class="control-label">
                <input id="use-animations"
                       type="checkbox"
                       class="checkbox checkbox-inline"
                       ng-model="settings.useAnimations"/> Use animations
            </label>
        </div>
        <div class="form-group">
            <label for="use-tvapi" class="control-label">
                <input id="use-tvapi"
                       type="checkbox"
                       class="checkbox checkbox-inline"
                       ng-model="settings.useTvApi"/> Use TV API
            </label>
        </div>
        <div class="form-group" ng-show="settings.useTvApi">
            <label for="api-key" class="control-label">API Key</label>
            <input id="api-key"
                   type="text"
                   class="input-sm form-control"
                   ng-model="settings.tvApiKey">
        </div>
    </div>

    <br ng-show="haveSettingsChanged"/>

    <div ng-show="haveSettingsChanged" class="alert alert-success">
        Settings updated.<br/>
        Please refresh the window when you're done in here.
    </div>


    <!--<textarea>{{settingsService.getDataObject()}}</textarea>

    <div>
        <button class="btn btn-sm btn-primary">Export all data</button>
    </div>
    <div>
        <button class="btn btn-sm btn-primary">Import saved data</button>
    </div>
    <div>
        <button class="btn btn-sm btn-danger">Clear all data</button>
    </div>-->
</div>