<div>
    <div class="btn-default" style="margin-bottom: 1px;">
        <div dropdown class="btn-group-vertical">
            <div type="button" class="btn-sm dropdown-toggle" ng-disabled="disabled">
                <span class="caret"></span> History Tracking => ({{historyTracking}})
            </div>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-click="historyTracking = 'Off'">Off</a></li>
                <li><a href="#" ng-click="historyTracking = 'Local'">Save locally</a></li>
                <li><a href="#" ng-click="historyTracking = 'Sync'">Save with Google Sync</a></li>
            </ul>
        </div>
    </div>
    <div class="btn-default" style="margin-bottom: 1px;">
        <div dropdown class="btn-group-vertical">
            <div type="button" class="btn-sm dropdown-toggle" ng-disabled="disabled">
                <span class="caret"></span> Bookmark Storage => ({{bookmarkStorage}})
            </div>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-click="bookmarkStorage = 'Local'">Save locally</a></li>
                <li><a href="#" ng-click="bookmarkStorage = 'Sync'">Save with Google Sync</a></li>
            </ul>
        </div>
    </div>

    <div>
        <button class="btn btn-sm btn-primary">Export all data</button>
    </div>
    <div>
        <button class="btn btn-sm btn-primary">Import saved data</button>
    </div>
    <div>
        <button class="btn btn-sm btn-danger">Clear all data</button>
    </div>
</div>